#viewport{
	float: left;
	position: relative;
	overflow: hidden;
	width: 580px;
	height: 290px;
}
.carousel{
	width: 20000em;
	position: absolute;
	clear: both;
}
.carousel div{
	float: left;
	width: 580px;
}
.carousel div img{
	float: left;
}
.previousImg{
	float: left;
}
.nextImg{
	float: left;
}
.correteIzq{
	left: -580px;
}
