.viewport{
	float: left;
	position: relative;
	overflow: hidden;
	width: 495px;
/*   width: auto; */
	height: 280px;
}
.carousel{
/* 	float: left; */
	position: absolute;
/* 	clear: both; */
	height: 280px;
}
.carousel *{
	float: left;
}
/* .carousel img{ */
/* 	float: left; */
/* } */
.previousImg{
	float: left;
}
.nextImg{
	float: left;
/* 	clear: both; */
	display: block;
}

